
a.share-btn {
display:inline-block;
color:#000;
width:15px;
height:17px;
padding-bottom:10px;
opacity:1;
text-align:center;
vertical-align:middle
}

a.share-btn:hover {
color:#046A38;
-webkit-transition:color .5s;
-moz-transition:color .5s;
-ms-transition:color .5s;
-o-transition:color .5s;
transition:color .5s
}

.copyright {
color:#000;
background-color:#fff3d1;
font-size:10px;
text-align:center;
font-family:'Futura',sans-serif
}

br {
display:none
}


body {
width:100%;
height:100%;
margin:0;
padding:0;
overflow-x:hidden;
overflow-y:auto;
background-color:#fffd1;
border:none;
max-width:none;
margin:0 auto;
position:relative
}

.closebtn {
color:#000;
width:15px;
height:17px;
margin-right:5px;
cursor:pointer
}

.closebtn:hover {
color:#046A38;
-webkit-transition:color .5s;
-moz-transition:color .5s;
-ms-transition:color .5s;
-o-transition:color .5s;
transition:color .5s
}


html {
line-height:1;
height:100%;
font-size:100%;
-ms-text-size-adjust:100%;
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%
}

div {
direction:ltr;
line-height:1
}

.gtheader{
height:27px;
width:100%;
background-color:#fff3d1;
font-size:25px;
text-align:right;
position:fixed;
top:0;
left:0;
right:0;
overflow:hidden;
z-index:1000
}

.gtbody{
min-height:100%;
width:100%;
margin-top:27px;
padding-bottom:43px;
position:absolute;
vertical-align:top;
horizontal-align:middle;
background-color:#fff3d1
}

.gtfooter{
height:43px;
bottom:0;
left:0;
width:100%;
background-color:#fff3d1;
text-align:center;
position:fixed;
overflow:hidden;
bottom:0
}

.gtsharerow{
color:#000000;
background-color:#fff3d1;
font-size:18px;
text-align:center;
font-family:'Futura',sans-serif
}

.overlay {
height:0;
width:100%;
position:fixed;
z-index:1;
right:0;
top:0;
background-color:#fff;
overflow-y:hidden;
transition:1s
}

.navopen {
color:#000;
width:15px;
height:17px;
margin-right:5px;
cursor:pointer
}

.navopen:hover {
color:#046A38;
-webkit-transition:color .5s;
-moz-transition:color .5s;
-ms-transition:color .5s;
-o-transition:color .5s;
transition:color .5s
}

hr {
-moz-box-sizing:content-box;
box-sizing:content-box;
clear:both;
margin:5px;
height:0;
border:solid #000;
border-width:1px 0 0
}

a.link-text.leftnavlinks {
display:block;
margin:5px;
color:#000;
text-align:center;
text-transform:uppercase;
letter-spacing:1px;
text-decoration:none;
font-size:14px;
font-weight:400;
font-family:'Futura',sans-serif
}

a.link-text.leftnavlinks:hover {
background-color:#046A38;
color:#fff;
-webkit-transition:background-color .5s,color .5s;
-moz-transition:background-color .5s,color .5s;
-ms-transition:background-color .5s,color .5s;
-o-transition:background-color .5s,color .5s;
transition:background-color .5s,color .5s
}

h2.event-title {
color:#000;
text-transform:uppercase;
padding-left:25px;
padding-right:50px;
text-align:left;
letter-spacing:2px;
font-style:bold;
font-size:20px;
font-family:'Futura',sans-serif
}

h2.event-time {
color:#000;
text-transform:uppercase;
padding-left:30px;
padding-right:50px;
text-align:left;
letter-spacing:2px;
font-style:bold;
font-size:20px;
font-family:'Futura',sans-serif
}

p.paragraph {
color:#000;
padding-left:40px;
padding-right:50px;
text-align:left;
font-size:18px;
font-family:'Futura',sans-serif
}